/*Inicial esencial para las medidas*/
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
}
div, article, aside,header, footer,main{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
/*logo*/

.BigTitulo{
    text-align: center;
    font-family: "Doctor Glitch", serif;
    font-size: 50px;
    padding-top: 5px;
}
#imgLogo{
    display:block;
    margin:auto;
    width: 400px;
}
#parteSuperior{
    /* Display css */
    display: inline-block;
    /* Text css */
    text-align: center;
    background-image: url("/src/img/fondo 1.jpg");
}
#parteIzquierdaTopbar{
    display: inline-block;
    text-align:left ;
    width: 50%;

}
    
#parteDerechaTopbar{
    display: inline-block;
    text-align:right ;
    width: 50%;

}

button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border-color: black;
    border-radius:2em;
    box-sizing: border-box;
    text-align:center;
    transition: all 0.2s;
    background-color: #7bff19;
    font-size: 30px;
}
button:hover{
    border-color: snow;
}

#divTabla{
    padding: 10px;
}

#tablaInformacionConciertos {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    text-align: center;
    border-radius: 50px;
}

tr:hover {background-color: rgba(0, 0, 0, 0.255);}
body{
    background-size: cover;
    background-image: linear-gradient(to bottom right, #B721FF, #1CA2C4 );
}